Plotting/
Idealized_model/
Analysis_Code/
Hyperparam_Main.py/
/data/fpb/ibraun/Code/paper_volume_calculation/cinema/weights
cinema/weights/
cinema/weights/finetuned/segmentation/mnms2_sax/config.yaml
/data/fpb/ibraun/Code/paper_volume_calculation/cinema/weights
/data/fpb/ibraun/Code/paper_volume_calculation/lvmeshfitting_env.yml
/data/fpb/ibraun/Code/paper_volume_calculation/lvmeshfitting_env.yml
/data/fpb/ibraun/Code/paper_volume_calculation/cinema
